@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Secular+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --titile-font: "Quicksand", sans-serif;
    --kutip: "Secular One", sans-serif;
    --testi: "Montserrat", sans-serif;
}

.ceo-container {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    padding: 0;
    /* background-color: red; */
}

.left-ceo {
    position: relative;
    width: 60%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

.left-ceo h1 span {
    color: #0eb04d;
}

.left-ceo h1 {
    font-size: 40px;
    font-family: var(--titile-font);
}

.left-ceo p {
    font-size: 15px;
}

.right-ceo {
    position: relative;
    width: 40%;
    height: 100%;
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-ceo .img-box {
    width: 50%;
    height: 60%;
    position: relative;
    /* background-color: yellow; */
}

.right-ceo h3 {
    text-align: center;
    font-family: var(--titile-font);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\ ANIMATION \\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.font-ceo {
    transform: translateX(-50px);
    opacity: 0;
}

.font-ceo-ani {
    opacity: 1;
    transform: translateX(0);
    transition: .8s;
}

.box-ceo {
    opacity: 0;
}

.img-box-ani {
    opacity: 1 !important;
    transition: .8s;
}

@media (max-width:900px) {
    .right-ceo .img-box {
        width: 60%;
        height: 60%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 35px;
        font-family: var(--titile-font);
    }

    .left-ceo p {
        font-size: 14px;
    }

    .right-ceo h3 {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .ceo-container {
        height: 450px;
    }

    .right-ceo .img-box {
        width: 60%;
        height: 60%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 30px;
        font-family: var(--titile-font);
    }

    .left-ceo p {
        font-size: 14px;
    }

    .right-ceo h3 {
        font-size: 14px;
    }
}

@media (max-width:650px) {
    .ceo-container {
        height: 380px;
    }

    .right-ceo .img-box {
        width: 70%;
        height: 60%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 30px;
        font-family: var(--titile-font);
    }

    .left-ceo p {
        font-size: 12px;
    }

    .right-ceo h3 {
        font-size: 13px;
    }
}

@media (max-width:450px) {
    .ceo-container {
        height: 450px;
        flex-direction: column-reverse;
    }

    .right-ceo .img-box {
        width: 40%;
        height: 90%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 20px;
        font-family: var(--titile-font);
        text-align: center;
    }

    .left-ceo p {
        font-size: 10px;

    }

    .right-ceo h3 {
        font-size: 12px;

    }

    .left-ceo {
        position: relative;
        width: 100%;
        height: 40%;
        /* background-color: rebeccapurple; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
    }

    .right-ceo {
        position: relative;
        width: 100%;
        height: 60%;
        /* background-color: rosybrown; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .font-ceo {
        transform: translateX(0px) translateY(40px);
        opacity: 0;
    }

    .font-ceo-ani {
        opacity: 1;
        transform: translateX(0) translateY(0);
        transition: .8s;
    }
}

@media (max-width:375px) {
    .ceo-container {
        height: 350px;
        flex-direction: column-reverse;
    }

    .right-ceo .img-box {
        width: 40%;
        height: 90%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 17px;
        font-family: var(--titile-font);
        text-align: center;
    }

    .left-ceo p {
        font-size: 9px;

    }

    .right-ceo h3 {
        font-size: 11px;

    }

    .left-ceo {
        position: relative;
        width: 100%;
        height: 40%;
        /* background-color: rebeccapurple; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
    }

    .right-ceo {
        position: relative;
        width: 100%;
        height: 60%;
        /* background-color: rosybrown; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .font-ceo {
        transform: translateX(0px) translateY(40px);
        opacity: 0;
    }

    .font-ceo-ani {
        opacity: 1;
        transform: translateX(0) translateY(0);
        transition: .8s;
    }
}

@media (max-width:320px) {
    .ceo-container {
        height: 330px;
        flex-direction: column-reverse;
    }

    .right-ceo .img-box {
        width: 40%;
        height: 90%;
        position: relative;
        /* background-color: yellow; */
    }

    .left-ceo h1 {
        font-size: 17px;
        font-family: var(--titile-font);
        text-align: center;
    }

    .left-ceo p {
        font-size: 8.5px;

    }

    .right-ceo h3 {
        font-size: 11px;

    }

    .left-ceo {
        position: relative;
        width: 100%;
        height: 40%;
        /* background-color: rebeccapurple; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
    }

    .right-ceo {
        position: relative;
        width: 100%;
        height: 60%;
        /* background-color: rosybrown; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .font-ceo {
        transform: translateX(0px) translateY(40px);
        opacity: 0;
    }

    .font-ceo-ani {
        opacity: 1;
        transform: translateX(0) translateY(0);
        transition: .8s;
    }
}