# App image
img/app/1 - ori.png
img/app/2 - ori.png
img/app/22 - ori.png
img/app/33 - ori.png

# ceo image
img/ceo/ceo - ori.jpg

#  connect image
img/connect/sss - ori.png

# hero image
img/hero/1 - ori.jpg
img/hero/2 - ori.jpg
img/hero/3 - or.jpg
img/hero/hero - ori.jpg

# history image
img/history/33 - ori.jpg

#  logo image
img/logo/LOGO2 - ori.png

# porto image
img/porto/1 - ori.jpg
img/porto/4 - ori.jpg

# testi image
img/testi/Picture1 - ori.png
img/testi/Picture2 - ori.png
img/testi/Picture3 - ori.png
img/testi/Picture4 - ori.png

